
<!--Footer-->
<footer class="page-footer font-small indigo pt-0">
 <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="/"> Projekt MD</a>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->
                      