<% include partials/header %>
<title>Panel</title>
<link href="/src/proz.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
<!-- ------------------------------- CHECKING FOR PATIENTS ------------------------------------ -->


<script type='text/javascript'>
  var rezes =<%- JSON.stringify(rez)%>
  console.log(rezes)
</script>




<h1> Rezerawcje użytkownika: </h1>
 <div class="container">
<div id="main">


</div>
</div>

<script>
    for(var i=0; rezes.length > i ; i++){
     console.log(rezes[i])
    var pocz = (540 +   rezes[i].start ) 
      var kon = (540 +   rezes[i].end) 
       var hP = Math.floor(pocz / 60);          
      var mP = pocz % 60; 
       var hK =  Math.floor(kon / 60);
       var mK = kon % 60;
       var datPocz = hP + ':'+ mP; 
       var datEnd = hK + ':' + mK;
     console.log(datPocz, datEnd)
    
     // main div
     var div = document.createElement("div");
     document.getElementById("main").appendChild(div);
     div.classList.add("divcreated");
     div.id = [i]
     
     // first of a div
     var divFirst = document.createElement("div");
     document.getElementById([i]).appendChild(divFirst);
     divFirst.innerHTML = "<p class='text'>" + "Data rezerwacji: " + "<strong>" + rezes[i].date + "</strong>" +  " Godzina: " +  "<strong>" +  datPocz + '-' + datEnd + "</strong>" +  "</p>"
     divFirst.classList.add("divcreated");
     
     // second of a div
     var divSecond = document.createElement("div");
     document.getElementById([i]).appendChild(divSecond);
     divSecond.innerHTML = "<a><span class='i glyphicon glyphicon-remove'></span></a>" 
     divSecond.classList.add("divcreated2")
     
     // hiding element
     document.getElementById([i]).childNodes[1].addEventListener("click", function(e){
     this.parentElement.classList.add("hideDiv")
     console.log(this.parentElement.id)
     
     console.log(rezes[this.parentElement.id].pacjent.username)
      $.ajax({
      url: "/proz",
      method: "POST",
      data: { 
        zapisStart : rezes[this.parentElement.id].start,
        zapisEnd: rezes[this.parentElement.id].end,
        Username: rezes[this.parentElement.id].pacjent.username
      }
    });
    
    
    
     })
     
}
</script>


<!-- <script>-->
      
        
        
<!--        var div = document.createElement("div");-->
<!--        div.innerHTML = "<p class='text'>" + "Data rezerwacji: " +  datPocz + '-' + datEnd + "</p>"-->
<!--        document.getElementById("main").appendChild(div);-->
<!--       //  console.log(div.childNodes[0])-->
<!--        div.classList.add("divcreated");-->
<!--        console.log(this)-->
        
<!--       //  var div2 = document.createElement("div");-->
<!--       //   div2.classList.add("divcreated2");-->
<!--       //  div2.innerHTML = "<a><span class='i glyphicon glyphicon-remove'></span></a>" -->
<!--       //  document.getElementById("main").appendChild(div2);-->
        

<!--       //  div2.childNodes[0].addEventListener("click", function(e){-->
<!--       //  console.log( div2.childNodes[0])-->
<!--       //  })-->
  
        
<!--       // console.log(datPocz)-->
<!--       // console.log(datEnd)-->
<!--</script>-->


<!--</br>-->

 <!--<p><a class="btn btn-default" href="/profile"><i class="qwe	glyphicon glyphicon-chevron-left"></i></a> </p>-->









<% include partials/footer %>