<% include ./partials/header %> 
<!--<h1>Rejestracja</h1>-->

<!--<form action="/register" method="POST">-->
<!--    <input type="text" name="username" placeholder="username">-->
<!--    <input type="password" name="password" placeholder="password"></br></br>-->
<!--    <input type="text" name="imie" placeholder="imie">-->
<!--    <input type="text" name="nazwisko" placeholder="nazwisko">-->
<!--    <button>Submit</button>-->
<!--</form>-->
<!--<br>-->
<!--<p>Already have an Account? <a href="/login">Login</a></p>-->
<!--<br>-->
<!--<a href="/main">Back</a> -->







<link href="/src/login.css" rel="stylesheet">

<div class="cont">
    <div class="form sign-in">
      <h2>Rejestracja</h2>
      <form action="/register" method="POST">
      <label>
        <span>Username</span>
        <input type="text" name="username" >
      </label>
      <label>
        <span>Imie</span>
        <input type="text" name="imie"">
      </label>
      <label>
        <span>Nazwisko</span>
      <input type="text" name="nazwisko"">
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password">
      </label>
       <label>
      <span>Email</span>
      <input name="email" type="text" />
    </label>
    <label>
      <span>Telefon</span>
      <input name="telefon" type="text" />
    </label>
      <button type="submit" class="submit">Sign Up</button>
      </form>
    </div>
 
 
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
          <h2>Posiadasz już konto?</h2>
        <p>Jeżeli masz już konto, zaloguj się.=</p>
      </div>
        
      <div class="img__text m--in">
        <h2>New użytkownik?</h2>
        <p>Zajestruj się</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign In</span>
        <span class="m--in">Sign Up</span>
      </div>
    </div>
  <div class="form sign-up">
      <form action="/login" method="post">
    <h2>Logowanie</h2>
    <label>
      <span>Username</span>
      <input type="text" name="username"/>
    </label>
    <label>
      <span>Password</span>
      <input name="password" type="password" />
    </label>
      <button type="submit" class="submit">Sign In</button>
    </form>
  
  </div>
  </div>
</div>

<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
});
</script>
<% include ./partials/footer %> 


