
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
/*body{*/
/*    background-image:url('http://www.wallpaperbetter.com/wallpaper/294/201/68/plants-close-up-dandelion-green-blur-background-2K-wallpaper.jpg');*/
  /*http://www.wallpaperbetter.com/wallpaper/162/745/108/green-close-up-macro-blurred-bokeh-plant-2K-wallpaper.jpg*/
/*  background-size:cover;*/
/*  background-position:center;*/
/*  height:100vh;*/
/*      min-height: 100%;*/
/*}*/

*{
  margin:0;
  padding:0;
    justify-content:center;
  align-items:center;
  text-align:center;

}

#main {
/*  margin:0;*/
/*  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
/*   background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');*/
/*  background-size:cover;*/
/*  background-position:center;*/
/*  height:100vh;*/
/*  display:flex;*/
/*  flex-direction:column;*/
  justify-content:center;
  align-items:center;
  text-align:center;
  color:#777;
}


#main {
    margin-top:10px;
    width: 100%;
    padding: 15px;
    color: black;
    font-size: 15px;

border-color: #D1D1D1;
border-left-color: #57b986;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*#main:hover {*/
/*     background: #57b955;*/
/*border-color: #D1D1D1;*/
/*border-left-color: #57b986;*/
/*-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);*/
/*-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);*/
/*transition: all 1.5s ease 0s;*/
/*}*/

.form-one {
  padding-bottom: 20px;
}

.form-two {
  
}

.jumbotron {
  background-color: rgba(54, 25, 25, .01);
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 800px;
    /*margin-left: 350px;*/
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.s{
    margin-bottom: 40px; 
     display: block;
    margin-left:  auto;
    margin-right: auto;
    width: 50%;
}

.term {
  width: 299px;
  height: 50px;
}

.term:hover {
     background: #57b955;
transition: all 1.5s ease 0s;
color:white;
}
.jumbotron h1 {
   color:#777;
}




/* ------------------------------------------------------- */



p a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #b83729;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p a:hover {
  background-color: #ab3326;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c0392b;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #b83729;
}
.select-styled:active, .select-styled.active {
  background-color: #ab3326;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ab3326;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #962d22;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #c0392b;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}
