/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i,dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed, */
/*figure, figcaption, footer, header, hgroup, */
/*menu, nav, output, section, summary,*/
/*time, audio {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  border: 0;*/
/*  font-size: 100%;*/
/*  font: inherit;*/
/*  vertical-align: baseline;*/
/*  font-family: 'Montserrat', sans-serif;*/
/*  color: #D1D1D1;*/
/*}*/

.container {
  height:720px;
  width: 550px;
  display: inline-flex;
  
}
.bbd {
 margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
  color: #D1D1D1;
}

.timings {
  text-align: right;
  padding-right: 10px;
  /*width: 100px;*/
  width: 110px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-size:0.4em;
  /*font-size: 0.5em;*/
  box-sizing: border-box
}

.timings span {
  font-size: 200%;
  color: #696969;
}

.days {
  height: 720px;
  width: 622px;
  padding: 0px 10px;
  background-color: #F0F0F0;
  border-color: #D1D1D1;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
}

.event {
  padding:0;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  border-color: #D1D1D1;
  border-left-color: #57b986;
  /*padding-left: 10px;*/
  /*padding-top: 5px;*/
  position: absolute;
  font-size: 0.5em;
  box-sizing: border-box;
  
}

.eventReserved {
  background-color:black !important;
}

.event .title {
  color: #57b986;
  font-size: 200%;
}

.InnFree {
  font-size:150%;
   color:white;
}

.InnRez {
    font-size:150%;
  color:black;
}


/* NODE HOVER N SHIT*/
.NodeHover:hover {
  cursor:pointer;
background: #57b986;
border-color: #D1D1D1;
border-left-color: #57b986;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 1.5s ease 0s;
}

.NodeHover{
}

.NodeNoHover {
  background:#F0F0F0;
}



/* HIDDEN VISIBLe STUFF*/

p .hidden {
  visibility: hidden;
}

#ph {
    margin-top:10px;
    width: 100%;
    padding: 15px;
    background-color: #57b986;
    color: white;
    font-size: 15px;

border-color: #D1D1D1;
border-left-color: #57b986;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

#pk {
     margin-top:10px;
    width: 100%;
    padding: 15px;
    background-color: red;
    color: white;
    font-size: 15px;

border-color: #D1D1D1;
border-left-color: #57b986;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
} 

#pa {
       margin-top:10px;
    width: 100%;
    padding: 15px;
    background-color: orange;
    color: white;
    font-size: 15px;

border-color: #D1D1D1;
border-left-color: #57b986;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

#dateshow {
      
    width: 100%;
    padding: 10px;
    color: black;
    font-weight: 3;
    font-size:15px;
}

/*.iks {*/
/*  float:right;*/
/*}*/

.NodeNoHover .ikspietanscie .glyphicon .glyphicon-remove-sign {
  padding-bottom:20px;
  
}

.glyphicon {
  float:right;
}

#usershow {
  background-color:#e7e7e7;
}


/* MODAL MAIN */

#myModal {
  overflow: auto ;
}
